@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

header {
    background-color: #1E40AF;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

header button {
    background-color: #F3F4F6;
    color: #1E40AF;
    border: none;
}

header div button {
    width: 205px;
    height: 34px;
    border-radius: 20px;
    margin-right: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

ul li {
    list-style: none;
    padding-left: 10px;
    color: #1E40AF;
    font-size: 30px;
}

.secaoCartaz {
    background-image: url("../img/IMGfundo.png");
    background-repeat: no-repeat;
    height: 422px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.secaoCartaz div {
    width: 70%;
    padding-left: 160px;
}

.secaoCartaz div h2 {
    font-size: 59.43px;
}

.secaoCartaz div p {
    margin-top: 10px;
    font-size: 33.74px;
}

.secaoCartaz div button {
    width: 285px;
    height: 54px;
    border-radius: 17px;
    margin-right: 10px;
    border: none;
    margin-top: 20px;
    background-color: #FFD700;
    font-size: 25px;
    font-weight: bold;
}

.cardsRapidos {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.cads {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #D1D5DB;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.fotoContainer {
    background-color: #FFFFFF;
    padding: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 5px;
}

.cads img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cads p {
    margin: 10px 0;
    font-weight: bold;
    color: #1E40AF;
    font-size: 23px;
}

.sobre {
    background-color: #f5f5f5;
    padding: 60px 20px;
    text-align: center;
    border-radius: 40px;
}

.sobre h2 {
    font-size: 36px;
    color: black;
    margin-bottom: 15px;
}

.sobre p {
    font-size: 20px;
    color: #2c4a8a;
    margin: 0 auto;
    line-height: 1.5;
}

.info {
    padding: 60px 30px;
    text-align: center;      
}

.info h2 {
    margin-bottom: 25px;
    font-size: 35px;
}

.info input {
    padding: 15px 20px 15px;
    border: none;
    border: solid 0.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.info button {
    padding: 15px 20px 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    border: solid 0.1px;
    background-color: yellow;
}

.maisVendidos {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.maisVendidos img {
    width: 100px;
}

footer {
    background-image: linear-gradient(to right, #1E40AF, #3B82F6);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.informacao {
    display: flex;
    gap: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.face {
    width: 60px;
    border-radius: 50px;
    
}

.din {
    width: 60px;
    border-radius: 50px;
}

.gmail {
    width: 60px;
    border-radius: 50px;
    margin-right: 30px;
}

.alca {
    font-size: 25px;
    padding-left: 30px;
}